av==12.0.0
accelerate==1.2.1
addict==2.4.0
diffusers==0.32.2
gradio==4.14.0
gradio_imageslider==0.0.20
-e git+https://github.com/IDEA-Research/GroundingDINO.git@16e0ccdb7da40613591666abe2cb06f91f961503#egg=groundingdino
huggingface-hub==0.27.1
matplotlib==3.8.4
numpy==1.26.4
opencv-python==4.9.0.80
pandas==2.2.2
requests==2.28.2
safetensors==0.4.3
scipy==1.13.0
timm==0.9.16
tokenizers==0.19.1
tomli==2.0.1
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tqdm==4.65.2
transformers==4.40.2
yapf==0.40.2
einops==0.8.0
einshape==1.0
pycocotools==2.0.7  
ipykernel==6.29.4 
onnxruntime==1.18.0  
lmdb==1.4.1
mediapy==1.2.0
